/*  Шрифт 'Montserrat' */

/* Thin Italic 100*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

/* ExtraLight 200*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* ExtraLight Italic 300*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*  Шрифт 'Nunito' */

/* Extra Light 300*/
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Extra Light Italic 300*/
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/* Regular 400*/
@font-face {
    font-family: "Nunito";
    src: url("../fonts/Nunito-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Medium 500*/
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Semi-Bold 600*/
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Bold 700 */
@font-face {
    font-family: "Nunito";
    src: url('../fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


// @font-face {
//     font-family: 'Kumbh Sans', sans-serif;
//     src: url('../fonts/KumbhSans-Regular.woff2') format('woff2');
//     font-weight: 400;
//     font-style: normal;
//     font-display: swap;
// }