@use 'helpers' as *;

html {
    &.is-lock {
        overflow: hidden;
    }
}

body{
    @include fluid-text (18, 14);

    font-family: var(--font-family-base);
    color: var(--color-dark);
    display: flex;
    flex-direction: column; 
}

main{
    flex-grow: 1;
    background-color: var(--color-light);
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: var(--font-family-accent);
    color: inherit;
    font-weight: 700;
    line-height: 120%;
}

h1, .h1{
    @include fluid-text(55, 34);

    line-height: 110%
}
h2, .h2{
    @include fluid-text(48, 30);
}
h3, .h3{
    @include fluid-text(33, 20);
}
h4, .h4{
    @include fluid-text(28, 18);
}
h5, .h5{
    @include fluid-text(24, 21);
}
h6, .h6{
    @include fluid-text(21, 16);
}

button,
label,
input,
textarea,
select,
a,
svg * {
    transition-duration: var(--transition-duration);
}

a{
    color: inherit;

    @include hover{
        color: var(--color-accent);
    }

    &[class] {
        text-decoration: none;
    }
}

:focus-visible{
    outline: rem(1) dashed var(--color-dark);
    outline-offset: rem(2);
    transition-duration: 0s !important;
}

a,
button{
    &[aria-label] {
        position: relative;

        &::before{
            @include abs-center;
            @include square(rem(44));

            content: '';
        }
    }
}

select {
    color: var(--color-accent-20);
    font-weight: 700;
}

option:not(:first-of-type) {
    color: var(--color-dark);
}

