@use 'helpers' as *;

:root{
    --color-light: #ffffff;

    --color-dark: #242829;

    --color-gray: #5C5C5C;
    --color-gray-40: #525252;
    --color-gray-20: #BABABA;
    --color-gray-10: #ededed;

    --color-accent: #4495E1;
    --color-accent-60: #5799D7;
    --color-accent-20: #BFDBF6;

    --color-red: #f74545;

    --font-family-accent: "Nunito", sans-serif;
    --font-family-base: "Montserrat", sans-serif;
 

    --container-width: #{rem(1200)};
    --container-padding-x: #{rem(15)};

    --border: #{rem(1) solid var(--color-accent-20)};

    --shadow: 0 0 #{rem(20)} 0 rgba(34, 60, 80, 0.25);
    --shadow-footer: 0px #{rem(6)} #{rem(8)} #{rem(-5)} rgba(36, 40, 41, 0.2);

    --transition-duration: 0.2s;
}


