@use '../helpers' as *;

.about{
    &__inner{
        justify-content: center;
        align-items: center;

        @include mobile{
            flex-direction: column;
            row-gap: rem(30);
        }
    }

    &__image{
        max-width: rem(500);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet{
            max-width: rem(240);
        }
    }

    &__content{
        max-width: fluid-mobile(750, 460);
        width: 100%;

        @include mobile{
            max-width: 100%;
        }

        ul{
            li{
                color: var(--color-gray);
                font-weight: 300;
                font-style: italic;
            }
        }
    }
}