@use '../helpers' as *;

.advantages{
    @include bg-section;

    &__inner{
        position: relative;
        z-index: 2;

        @include  mobile{
            flex-direction: column-reverse;
        }
    }
}