@use '../helpers' as *;

.page{

    &--not-front{
        .header{
            box-shadow: var( --shadow);
        }
    
        main{
            padding-block: fluid(60, 40);
        }
    }

    &--front{
        .card--usual{
            @include tablet{
                &:nth-child(2) ~ *{
                    display: none;
                }
            }
        }
    }
    
    .reviews-block{
        &__descriptions{
            flex-grow: 1;   
            overflow: hidden;    
            text-overflow: ellipsis;
            display: -webkit-box; 
            line-clamp: 4;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4; 
            margin-top: auto;
        }
    }
}